USE [DCS_CRTS]
GO
/****** Object:  Table [dbo].[Accessor]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessor](
	[accessorId] [int] IDENTITY(1,1) NOT NULL,
	[accessorType] [nvarchar](20) NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accessorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[addressId] [uniqueidentifier] NOT NULL,
	[address1] [nvarchar](max) NULL,
	[address2] [nvarchar](max) NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
	[zipCode] [nvarchar](10) NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[addressMagicKey] [nvarchar](1000) NULL,
	[addressRefId] [uniqueidentifier] NULL,
	[countryNameCode] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[addressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[applicationId] [uniqueidentifier] NOT NULL,
	[recordingDeadLine] [datetime2](7) NULL,
	[deadLineExplaination] [nvarchar](max) NULL,
	[feeInterest] [bit] NULL,
	[conservationRestriction] [bit] NULL,
	[usePreservationActFunds] [bit] NULL,
	[isMESAPermit] [bit] NULL,
	[relatedToOtherPermit] [bit] NULL,
	[needStateAgencyReview] [bit] NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[accessorId] [int] NULL,
	[relatedToOtherPermitComment] [nvarchar](max) NULL,
	[agencyName] [nvarchar](1000) NULL,
	[loggedInUser] [nvarchar](255) NULL,
	[CRRefNum] [nvarchar](1000) NULL,
	[isDeleted] [bit] NOT NULL,
	[submittedDate] [datetime2](7) NULL,
	[statusId] [int] NULL,
	[withdrawnReason] [nvarchar](max) NULL,
	[CRProjectName] [nvarchar](4000) NULL,
	[isPremisesGift] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationAgency]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationAgency](
	[applicationAgencyId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[agency] [nvarchar](max) NOT NULL,
	[inUse] [bit] NULL,
	[lastModifiedBy] [nvarchar](1000) NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationAgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationContact]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationContact](
	[applicationContactId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[agency] [nvarchar](100) NULL,
	[personId] [uniqueidentifier] NULL,
	[organizationId] [uniqueidentifier] NULL,
	[contactRole] [nvarchar](100) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[isOrg] [bit] NULL,
	[otherContactDescription] [nvarchar](max) NULL,
	[isContactOrg] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationFunding]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationFunding](
	[applicationFundingId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[fundingId] [int] NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[year] [int] NULL,
	[refNum] [nvarchar](100) NULL,
	[other] [nvarchar](100) NULL,
	[feeInterest] [bit] NULL,
	[conservationRestriction] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationFundingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationPartyRole]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationPartyRole](
	[applicationPartyRoleId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[personId] [uniqueidentifier] NULL,
	[organizationId] [uniqueidentifier] NULL,
	[partyRoleId] [int] NULL,
	[isPrimary] [bit] NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[isOrg] [bit] NULL,
	[otherContactDescription] [nvarchar](max) NULL,
	[isContactOrg] [bit] NULL,
	[addContactOrg] [bit] NULL,
	[listedOrganization] [bit] NULL,
	[newOrganization] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationPartyRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationStaff]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationStaff](
	[applicationStaffId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[staffId] [int] NOT NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationStatus]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationStatus](
	[applicationStatusId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[statusId] [int] NOT NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[applicationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[attributesId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[targetDeadline] [datetime2](7) NULL,
	[isCRAmendment] [bit] NULL,
	[reasonId] [int] NULL,
	[relatedCR] [nvarchar](1000) NULL,
	[priorityFlag] [bit] NULL,
	[legalDeadline] [datetime2](7) NULL,
	[legalReviewerId] [int] NULL,
	[grantFundingStaffId] [int] NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
	[priorityYear] [int] NULL,
	[yearEndTaxCreditDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[attributesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributesConservationFocus]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributesConservationFocus](
	[attributesConservationFocusId] [int] IDENTITY(1,1) NOT NULL,
	[attributesId] [int] NOT NULL,
	[conservationFocusId] [int] NOT NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attributesConservationFocusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit](
	[auditId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[action] [nvarchar](1000) NOT NULL,
	[actionedBy] [nvarchar](1000) NOT NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[auditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConservationFocus]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConservationFocus](
	[conservationFocusId] [int] IDENTITY(1,1) NOT NULL,
	[conservationFocus] [nvarchar](1000) NULL,
	[conservationFocusDesc] [nvarchar](max) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conservationFocusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DCSGrantFundingStaff]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DCSGrantFundingStaff](
	[grantFundingStaffId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](2500) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[grantFundingStaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[documentId] [int] IDENTITY(1,1) NOT NULL,
	[docTypeId] [int] NOT NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[isCurrentTemplate] [bit] NULL,
	[createdDate] [datetime2](7) NULL,
	[fileInfoId] [nvarchar](100) NULL,
	[fileName] [nvarchar](1000) NULL,
	[size] [int] NULL,
	[isRequired] [bit] NULL,
	[uploadDt] [datetime2](7) NULL,
	[uploadBy] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[actionBy] [nvarchar](255) NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[version] [nvarchar](1000) NULL,
	[docIdentifier] [nvarchar](1000) NULL,
	[otherDocDescription] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[documentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[docTypeId] [int] IDENTITY(1,1) NOT NULL,
	[docTypeName] [nvarchar](255) NULL,
	[docDescription] [nvarchar](max) NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[docTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypeField]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypeField](
	[documentTypeFieldId] [int] IDENTITY(1,1) NOT NULL,
	[documentTypeId] [int] NULL,
	[isRegistryBookPage] [bit] NULL,
	[isLandCourt] [bit] NULL,
	[recordedPlanOfPremises] [bit] NULL,
	[draftPlanOfPremises] [bit] NULL,
	[sketchOfPremises] [bit] NULL,
	[book] [nvarchar](4000) NULL,
	[page] [nvarchar](4000) NULL,
	[certificateNumber] [nvarchar](1000) NULL,
	[instrumentNumber] [nvarchar](1000) NULL,
	[documentNumber] [nvarchar](1000) NULL,
	[applicationId] [uniqueidentifier] NULL,
	[documentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[documentTypeFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTypeFieldRegApp]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTypeFieldRegApp](
	[documentTypeFieldRegAppId] [int] IDENTITY(1,1) NOT NULL,
	[documentTypeFieldId] [int] NOT NULL,
	[applicationId] [uniqueidentifier] NULL,
	[premiseRegistryId] [int] NOT NULL,
	[inUse] [bit] NULL,
	[lastModifiedBy] [nvarchar](1000) NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[documentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[documentTypeFieldRegAppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EEALegalReviewer]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EEALegalReviewer](
	[legalReviewerId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](2500) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[legalReviewerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funding]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funding](
	[fundingId] [int] IDENTITY(1,1) NOT NULL,
	[fundingSource] [nvarchar](max) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[orderNum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fundingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[messageId] [int] IDENTITY(1,1) NOT NULL,
	[subject] [nvarchar](2000) NULL,
	[body] [nvarchar](max) NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](1000) NOT NULL,
	[isMsgRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[eventsUpdated] [nvarchar](2000) NULL,
	[updatedBy] [nvarchar](1000) NOT NULL,
	[actionEventName] [nvarchar](100) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](1000) NOT NULL,
	[isDismissNotification] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[organizationId] [uniqueidentifier] NOT NULL,
	[organizationName] [nvarchar](255) NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[organizationRefId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[organizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrganizationAddress]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationAddress](
	[organizationAddressId] [int] IDENTITY(1,1) NOT NULL,
	[organizationId] [uniqueidentifier] NOT NULL,
	[addressId] [uniqueidentifier] NOT NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[organizationAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartyRole]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartyRole](
	[partyRoleId] [int] IDENTITY(1,1) NOT NULL,
	[partyRoleName] [nvarchar](100) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[partyRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[personId] [uniqueidentifier] NOT NULL,
	[firstName] [nvarchar](255) NULL,
	[middleName] [nvarchar](255) NULL,
	[lastName] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[personRefId] [uniqueidentifier] NULL,
	[title] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[personId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonAddress]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonAddress](
	[personAddressId] [int] IDENTITY(1,1) NOT NULL,
	[personId] [uniqueidentifier] NOT NULL,
	[addressId] [uniqueidentifier] NOT NULL,
	[startDate] [datetime2](7) NULL,
	[endDate] [datetime2](7) NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[personAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[phoneId] [int] IDENTITY(1,1) NOT NULL,
	[phoneTypeId] [int] NULL,
	[personId] [uniqueidentifier] NULL,
	[phoneNumber] [nvarchar](20) NULL,
	[comment] [nvarchar](max) NULL,
	[extension] [nvarchar](10) NULL,
	[countryCode] [int] NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneType]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneType](
	[phoneTypeId] [int] IDENTITY(1,1) NOT NULL,
	[phoneTypeName] [nvarchar](100) NULL,
	[phoneTypeDesc] [nvarchar](max) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phoneTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Premise]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Premise](
	[premiseId] [uniqueidentifier] NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[totalAcres] [nvarchar](255) NULL,
	[totalFeet] [nvarchar](255) NULL,
	[hasDeed] [bit] NULL,
	[deedComment] [nvarchar](max) NULL,
	[hasSketch] [bit] NULL,
	[sketchComment] [nvarchar](max) NULL,
	[hasBaselineDocument] [bit] NULL,
	[baselineDocumentComment] [nvarchar](max) NULL,
	[hasClearTitle] [bit] NULL,
	[clearTitleComment] [nvarchar](max) NULL,
	[encumberedByEasement] [bit] NULL,
	[easementComment] [nvarchar](max) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[premiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PremiseAddress]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PremiseAddress](
	[premiseAddressId] [int] IDENTITY(1,1) NOT NULL,
	[premiseId] [uniqueidentifier] NOT NULL,
	[addressId] [uniqueidentifier] NOT NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
	[accessorMapParcel] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[premiseAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PremiseRegistry]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PremiseRegistry](
	[premiseRegistryId] [int] IDENTITY(1,1) NOT NULL,
	[registryLoc] [nvarchar](max) NULL,
	[inUse] [bit] NULL,
	[lastModifiedBy] [nvarchar](1000) NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[premiseRegistryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriorityReason]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriorityReason](
	[reasonId] [int] IDENTITY(1,1) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelatedCRApp]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelatedCRApp](
	[relatedCRAppId] [int] IDENTITY(1,1) NOT NULL,
	[firstApplicationId] [uniqueidentifier] NULL,
	[secondApplicationId] [uniqueidentifier] NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[relatedCRAppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaveUserSearchFilter]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaveUserSearchFilter](
	[searchFilterId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](500) NULL,
	[filterNameValue] [nvarchar](4000) NULL,
	[savedFilterName] [nvarchar](50) NULL,
	[inuse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[searchFilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staffId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](500) NOT NULL,
	[lastName] [nvarchar](500) NOT NULL,
	[email] [nvarchar](max) NULL,
	[roleId] [int] NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffNotes]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffNotes](
	[staffNotesId] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [uniqueidentifier] NOT NULL,
	[notes] [nvarchar](max) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staffNotesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffRole]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffRole](
	[staffRoleId] [int] IDENTITY(1,1) NOT NULL,
	[staffRoleName] [nvarchar](100) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staffRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffSavedSearch]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffSavedSearch](
	[staffSavedSearchId] [int] IDENTITY(1,1) NOT NULL,
	[savedSearchName] [nvarchar](4000) NULL,
	[CRNumber] [nvarchar](1000) NULL,
	[municipality] [nvarchar](1000) NULL,
	[streetAddressOfPremises] [nvarchar](max) NULL,
	[primaryContact] [nvarchar](1000) NULL,
	[grantor] [nvarchar](1000) NULL,
	[grantee] [nvarchar](1000) NULL,
	[internalStatus] [nvarchar](1000) NULL,
	[CRReviewer] [nvarchar](1000) NULL,
	[loggedInStaffEmail] [nvarchar](1000) NULL,
	[inUse] [bit] NOT NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staffSavedSearchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 9/30/2025 2:36:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[statusId] [int] IDENTITY(1,1) NOT NULL,
	[publicName] [nvarchar](255) NULL,
	[internalName] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[inUse] [bit] NULL,
	[lastModifiedDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Application] ADD  CONSTRAINT [DF__Application__applicationId__23BE4960]  DEFAULT (newid()) FOR [applicationId]
GO
ALTER TABLE [dbo].[Application] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Application] ADD  CONSTRAINT [df_Status]  DEFAULT ((1)) FOR [statusId]
GO
ALTER TABLE [dbo].[Attributes] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Attributes] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[Attributes] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[AttributesConservationFocus] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[AttributesConservationFocus] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[AttributesConservationFocus] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[Audit] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[ConservationFocus] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[ConservationFocus] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[ConservationFocus] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[DCSGrantFundingStaff] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Document] ADD  CONSTRAINT [DF__Document_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EEALegalReviewer] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [isMsgRead]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [isDismissNotification]
GO
ALTER TABLE [dbo].[Premise] ADD  CONSTRAINT [DF__Premise_Premise]  DEFAULT (newid()) FOR [premiseId]
GO
ALTER TABLE [dbo].[PriorityReason] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[PriorityReason] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[PriorityReason] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[RelatedCRApp] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[RelatedCRApp] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[RelatedCRApp] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[SaveUserSearchFilter] ADD  DEFAULT ((1)) FOR [inuse]
GO
ALTER TABLE [dbo].[SaveUserSearchFilter] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[SaveUserSearchFilter] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[StaffNotes] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[StaffNotes] ADD  DEFAULT (getdate()) FOR [lastModifiedDt]
GO
ALTER TABLE [dbo].[StaffNotes] ADD  DEFAULT ('System') FOR [lastModifiedBy]
GO
ALTER TABLE [dbo].[StaffSavedSearch] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Status] ADD  DEFAULT ((1)) FOR [inUse]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([accessorId])
REFERENCES [dbo].[Accessor] ([accessorId])
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[Status] ([statusId])
GO
ALTER TABLE [dbo].[ApplicationAgency]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[ApplicationContact]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[ApplicationContact]  WITH CHECK ADD FOREIGN KEY([organizationId])
REFERENCES [dbo].[Organization] ([organizationId])
GO
ALTER TABLE [dbo].[ApplicationContact]  WITH CHECK ADD FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
GO
ALTER TABLE [dbo].[ApplicationFunding]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[ApplicationFunding]  WITH CHECK ADD FOREIGN KEY([fundingId])
REFERENCES [dbo].[Funding] ([fundingId])
GO
ALTER TABLE [dbo].[ApplicationPartyRole]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[ApplicationPartyRole]  WITH CHECK ADD FOREIGN KEY([organizationId])
REFERENCES [dbo].[Organization] ([organizationId])
GO
ALTER TABLE [dbo].[ApplicationPartyRole]  WITH CHECK ADD FOREIGN KEY([partyRoleId])
REFERENCES [dbo].[PartyRole] ([partyRoleId])
GO
ALTER TABLE [dbo].[ApplicationPartyRole]  WITH CHECK ADD FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
GO
ALTER TABLE [dbo].[ApplicationStaff]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[ApplicationStaff]  WITH CHECK ADD FOREIGN KEY([staffId])
REFERENCES [dbo].[Staff] ([staffId])
GO
ALTER TABLE [dbo].[ApplicationStatus]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[ApplicationStatus]  WITH CHECK ADD FOREIGN KEY([statusId])
REFERENCES [dbo].[Status] ([statusId])
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD FOREIGN KEY([grantFundingStaffId])
REFERENCES [dbo].[DCSGrantFundingStaff] ([grantFundingStaffId])
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD FOREIGN KEY([legalReviewerId])
REFERENCES [dbo].[EEALegalReviewer] ([legalReviewerId])
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD FOREIGN KEY([reasonId])
REFERENCES [dbo].[PriorityReason] ([reasonId])
GO
ALTER TABLE [dbo].[AttributesConservationFocus]  WITH CHECK ADD FOREIGN KEY([attributesId])
REFERENCES [dbo].[Attributes] ([attributesId])
GO
ALTER TABLE [dbo].[AttributesConservationFocus]  WITH CHECK ADD FOREIGN KEY([conservationFocusId])
REFERENCES [dbo].[ConservationFocus] ([conservationFocusId])
GO
ALTER TABLE [dbo].[Audit]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD FOREIGN KEY([docTypeId])
REFERENCES [dbo].[DocumentType] ([docTypeId])
GO
ALTER TABLE [dbo].[DocumentTypeField]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[DocumentTypeField]  WITH CHECK ADD FOREIGN KEY([documentTypeId])
REFERENCES [dbo].[DocumentType] ([docTypeId])
GO
ALTER TABLE [dbo].[DocumentTypeFieldRegApp]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[DocumentTypeFieldRegApp]  WITH CHECK ADD FOREIGN KEY([premiseRegistryId])
REFERENCES [dbo].[PremiseRegistry] ([premiseRegistryId])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[OrganizationAddress]  WITH CHECK ADD FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([addressId])
GO
ALTER TABLE [dbo].[OrganizationAddress]  WITH CHECK ADD FOREIGN KEY([organizationId])
REFERENCES [dbo].[Organization] ([organizationId])
GO
ALTER TABLE [dbo].[PersonAddress]  WITH CHECK ADD FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([addressId])
GO
ALTER TABLE [dbo].[PersonAddress]  WITH CHECK ADD FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD FOREIGN KEY([personId])
REFERENCES [dbo].[Person] ([personId])
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD FOREIGN KEY([phoneTypeId])
REFERENCES [dbo].[PhoneType] ([phoneTypeId])
GO
ALTER TABLE [dbo].[Premise]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[PremiseAddress]  WITH CHECK ADD FOREIGN KEY([addressId])
REFERENCES [dbo].[Address] ([addressId])
GO
ALTER TABLE [dbo].[PremiseAddress]  WITH CHECK ADD FOREIGN KEY([premiseId])
REFERENCES [dbo].[Premise] ([premiseId])
GO
ALTER TABLE [dbo].[RelatedCRApp]  WITH CHECK ADD  CONSTRAINT [FK__RelatedCR__firstApp__318258D2] FOREIGN KEY([firstApplicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[RelatedCRApp] CHECK CONSTRAINT [FK__RelatedCR__firstApp__318258D2]
GO
ALTER TABLE [dbo].[RelatedCRApp]  WITH CHECK ADD  CONSTRAINT [FK__RelatedCR__secondApp__32767D0B] FOREIGN KEY([secondApplicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
ALTER TABLE [dbo].[RelatedCRApp] CHECK CONSTRAINT [FK__RelatedCR__secondApp__32767D0B]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[StaffRole] ([staffRoleId])
GO
ALTER TABLE [dbo].[StaffNotes]  WITH CHECK ADD FOREIGN KEY([applicationId])
REFERENCES [dbo].[Application] ([applicationId])
GO
